/* .deals-btn {
    background-color: #0b48891a;
    color: #0b5ed7;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
} */

/* .sec2 {
    background-color: rgb(228, 236, 236);
} */